.phone{
    display: inline-block;
}

.logo img{
    width: 175px; 
    height: 55px;
    margin: 15px 0 10px 0;
}

.box{
    width: 350px; 
    background-color: #fff;
    color: #999;
    border: 1px solid #e6e6e6;
    margin: 40px auto 0 auto;
    padding: 10px 0;
    text-align: center;
    /*display: inline-block;*/
}

.box h2{
    font-size: 17px;
    width: 265px;
}

.box input{
    width: 250px;
    padding: 8px 0;
    background: #fafafa;
    font-size: 13px;
}

.box input[type = "text"],
.box input[type = "password"]
{
    border: 1px solid #e6e6e6;
    margin: 3px 0;
    padding: 12px 0 7px 8px;
}

.box input[type = "text"]:focus,
.box input[type = "password"]:focus{
    border-color: #c4c3c3; 
}


.box input[type = submit],
.box button{
    width: 260px;
    background: #3897f0;
    color: #fff;
    border: 0;
    margin: 15px auto;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
}

.ou{
    margin: 15px 0;
}

.ou p{
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
}

.ou .row{
    background-color: #e9e9e9;
    width: 110px;
    height: 1px;
    margin-bottom: 4px;
    display: inline-block;
}

.btn-facebook .fa-facebook-square, .btn-facebook p{
    display: inline-block;
}

.btn-facebook{
    padding: 8px 2px;
}

.btn-facebook p{
    position: relative;
    top: -3px;
}

.fa-facebook-square{
    font-size: 20px;
}

.politica{
    width: 235px;
    font-size: 14px;
}

.conecte{
    padding: 15px 0;
    color: #262626;
}

.aplicativo{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.aplicativo img{
    width: 150px;
}

.aplicativo p{
    padding: 15px 0;
}