.box{
    width: 350px; 
    background-color: #fff;
    color: #999;
    border: 1px solid #e6e6e6;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
} 
.box input,
.box button
{
    width: 250px;
    padding: 7px 0;
    background: #fafafa;
    font-size: 13px;
}
.box input[type = "text"],
.box input[type = "password"]
{
    border: 1px solid #e6e6e6;
    margin: 3px 0;
    padding: 10px;
    
}
.box input[type = "text"]:focus,
.box input[type = "password"]:focus{
    border-color: #c4c3c3; 
}
.box input[type = submit],
.box button{
    width: 260px;
    background: #3897f0;
    color: #fff;
    border: 0;
    margin: 15px auto;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.navbar{
    width: 100vw; 
    margin: 0; 
    padding: 30px 0 0 0;
    position: fixed;
    z-index: 1;
}
.navbar #logo{
    float: left;
    margin-top: 5px; 
}
.navbar #search{
    position: relative;
    left: -40px;
    text-align: center;
}
.navbar #icons{
    float: right;
    position: relative;
    top: -35px;
}
.navbar a{
    color: #262626;
    font-size: 25px;
    padding-right: 10px;
}

.logo img{
    width: 175px; 
    height: 55px;
    margin: 15px 0 10px 0;
}

.btn-facebook p{
    position: relative;
    top: -3px;
}
.fa-facebook-square{
    font-size: 19px;
}

.ou{
    margin: 15px 0;
    font-weight: 700;
    font-size: 13px;
}

.row{
    background-color: #e9e9e9;
    width: 110px;
    height: 1px;
    position: relative;
    top: -4px;
}

.login{
    padding: 15px 0;
    font-size: 14px;
    color: #262626;
}

.app{
    width: 352px;
    text-align: center;
    font-size: 14px;
}

.app img{
    width: 135px;
}

.app p{
    padding: 15px 0;
}

.footer{
    margin: 100px 0 50px 25px;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.footer ul li{
    display: inline-block;
    padding: 0 12px 10px 0;
    cursor: pointer;
    color: #003569;
}

.footer p{
    color: #999;
}