<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/auxiliary.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/font-awesome-all.js"></script>
    <script src="./js/alerts.js"></script>
    <title>InstaMVP</title>
</head>
<body onload="mvc()">
    <div class="content994">
        <figure class="phone">
            <img src="./images/phone.png" alt="Phone">
        </figure>

        <div class="form mt30">
            <div class="box">
                <figure class="logo">
                    <a href="index.html">
                        <img src="./images/logo.png" alt="Instagram">
                    </a>
                </figure>
                
                <h2 class="content">Cadastre-se para ver fotos e vídeos dos seus amigos.</h2>

                <button class="btn-facebook" onclick="unavailable()">
                    <i class="fab fa-facebook-square dib"></i>
                    <p class="dib">Entrar com o Facebook</p>
                </button>

                <div class="ou">
                    <div class="row dib"></div>
                        <p class="dib">OU</p>
                    <div class="row dib"></div>
                </div>

                <form action="../Controller/index.php" method="post">
                    <input type="text" placeholder="Número do celular ou email" required name="phoneMail">
                    <input type="text" placeholder="Nome completo" required name="completeName">
                    <input type="text" placeholder="Nome de usuário" required name="user">
                    <input type="password" placeholder="Senha" required minlength="8" name="password">
                    
                    <input type="submit" value="Cadastrar-se">
                </form>

                <div class="politics content">
                    <p>Ao se cadastrar, você concorda com nossos <strong>, Política de Dados e Política de Cookies.</strong></p>
                </div>
            </div>

            <div class="box">
                <p class="login">Tem uma conta? <a href="login.html">Conecte-se</a></p>
            </div>

            <div class="app">
                <p>Obtenha o aplicativo</p>
                <a target="_blank" href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img src="./images/appStore.png" alt="App Store"></a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DXAT0CQAEAAFACL3C-_FM5_-0TQ4O%26utm_content%3Dlo%26utm_medium%3Dbadge"><img src="./images/googlePlay.png" alt="Google Play"></a>
            </div>
        </div>
        
        <footer class="footer" style="float: left;">
            <ul>
                <li>sobre nós</li>
                <li>suporte</li>
                <li>imprensa</li>
                <li>api</li>
                <li>carreiras</li>
                <li>privacidade</li>
                <li>termos</li>
                <li>diretório</li>
                <li>perfis</li>
                <li>hashtags</li>
                <li>idioma</li>
            </ul>
            <p>© 2019 insta mvp de guilherme caires e jefferson eloy</p>
        </footer>
    </div>
</body>
</html>