<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/config.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/all.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="box">
        <img src="./svg/Instagram-01.svg" alt="Instagram">
        <h2>Cadastre-se para ver fotos e vídeos dos seus amigos.</h2>
        <button class="btn-facebook">
            <i class="fab fa-facebook-square"></i>
            <p>Entrar com o Facebook</p>
        </button>

        <form action="" method="post">
            <input type="text" name="phoneMail">
            <input type="text" name="completeName">
            <input type="text" name="user">
            <input type="password" name="password">
            
            <input type="submit" value="Cadastrar-se">
        </form>
    </div>
</body>
</html>