<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/font-awesome-all.js"></script>
    <title>Document</title>
</head>
<body>





<div onclick="like()" class="a"></div>

<script>
    var icone = document.querySelector('div');
    
    function like() {
        icone.classList.toggle('b');
    }
</script>

<style>

.a{
    width: 150px;
    height: 150px;
    background: #000;
}
.b{
    width: 150px;
    height: 150px;
    background: yellow;
}


















</style>



































</body>
</html>