<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/aux.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/all.js"></script>
    <title>InstaMVP</title>
</head>
<body>
    <div class="content">
        <div class="form mt30">
            <div class="box">
                <div class="logo">
                    <img src="./images/logo.png" alt="Instagram">
                </div>
               
                <form action="login.php" method="post">
                    <input type="text" placeholder="Número do celular ou email" name="phoneMail">
                    <input type="password" placeholder="Senha" name="senha">
                    
                    <button type="submit" name="entrar">Entrar</button>
                </form>
                
                <div class="ou">
                    <div class="row"></div>
                    <p>OU</p>
                    <div class="row"></div>
                </div>

                <button class="btn-facebook">
                    <i class="fab fa-facebook-square"></i>
                    <p>Entrar com o Facebook</p>
                </button>
               

                
            </div>

            <div class="box">
                <p class="conecte">Tem uma conta? <a href="login.html">Conecte-se</a></p>
            </div>

            <div class="aplicativo">
                <p>Obtenha o aplicativo</p>
                <img src="./images/appStore.png" alt="App Store">
                <img src="./images/googlePlay.png" alt="Google Play">
            </div>
        </div>

        <footer class="footer">
                <ul>
                    <li>sobre nós</li>
                    <li>suporte</li>
                    <li>imprensa</li>
                    <li>api</li>
                    <li>carreiras</li>
                    <li>privacidade</li>
                    <li>termos</li>
                    <li>diretório</li>
                    <li>perfis</li>
                    <li>hashtags</li>
                    <li>idioma</li>
                </ul>
                <p>© 2019 instagram de guilherme caires e jefferson eloy</p>
        </footer>
    </div>
    
</body>
</html>