<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/auxiliary.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/font-awesome-all.js"></script>
    <script src="./js/alerts.js"></script>
    <title>InstaMVP</title>
</head>
<body>
    <form action="../Model/changePass.php" method="post">
        <div>
            <label for="senha">Senha Antiga:</label>
            <input type="password" name="password" required placeholder="Informe sua senha antiga" />
        </div>
        
        <div>
            <label for="nova_senha">Nova Senha:</label>
            <input type="password" name="afterPass" required placeholder="Nova senha" />
        </div>
        
        <div>
            <label for="senha_confirma">Confirme a nova senha:</label>
            <input type="password" name="confirmPass" required placeholder="Confirme sua senha" />
        </div>
        
        <input type="submit" value="Alterar Senha">
    </form>
</body>
</html>            